.header {
  background: var(--white);
  box-shadow: 0 1px 2px color(var(--black) alpha(10%));
  display: flex;
  height: var(--header-height-mobile);
  line-height: 24px;
  position: relative;
  text-align: center;
  z-index: var(--z-3);
  .wrapper {
    align-items: stretch;
    box-shadow: 0 1px 0 color(var(--light-gray) alpha(30%));
    display: flex;
    width: 100%;
  }
}
@media (--breakpoint-medium-and-up) {
  .header {
    height: var(--header-height);
  }
}

.header-toggle {
  @extend .hamburger;
}
@media (--breakpoint-medium-and-up) {
  .header-toggle {
    display: none;
  }
}


/* vertically center all kinds of header items */
/* <span class="header-item"> <a href="#">Header link</a> </span> */
/* <span class="header-item"> <img src="header-image.jpg"> </span> */
.header-item {
  align-items: center;
  display: flex;
  padding: 10px;
  img {
    max-height: 24px;
  }
  a {
    color: var(--link);
    &:hover {
      color: var(--link-hover);
    }
    &.is-active {
      color: var(--link-active);
    }
  }
  .logo {
    max-height: 30px;
  }
}
@media (--breakpoint-medium-and-up) {
  .header-item > .logo {
    max-height: 35px;
  }
}


/* header containers */
.header-left {
  align-items: stretch;
  display: flex;
  flex: 1;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
@media (--breakpoint-large) {
  .header-left > .header-item:first-child {
    padding-left: 0;
  }
}

.header-center {
  align-items: stretch;
  display: flex;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.header-right {
  align-items: stretch;
}
@media (--breakpoint-medium-and-up) {
  .header-right {
    display: flex;
  }
}
@media (--breakpoint-large) {
  .header-right > .header-item:last-child {
    padding-right: 0;
  }
}



@media (--breakpoint-mobile-only) {
  .header-menu {
    background: var(--white);
    box-shadow: 0 4px 7px color(var(--black) alpha(10%));
    display: none;
    min-width: 120px;
    position: absolute;
    right: 0;
    top: var(--header-height-mobile);
    z-index: var(--z-5);
    .header-item {
      border-top: 1px solid color(var(--light-gray) alpha(50%));
      padding: 10px;
    }
    &.is-active {
      display: block;
    }
  }
}
