/*
   VARIABLES
   Add your variables to the :root selector.
   Then reference them in your other css modules like so

   :root {
      --spacing-small: 32px;
   }

   .someClass {
     padding: var(--spacing-small)
   }

*/

:root {
	/* Colors */
	--red: #ed6c63;
	--orange: #f68b39;
	--yellow: #f6a824;
	--green: #9acc7c;
	--turquoise: #1fc8db;
	--blue: #6ea8c1;
	--pink: #E91E63;
	--purple: #847bb9;

	/* Grayscale */
	--white: #FFFFFF;
	--lightest-gray: #f5f7fa;
	--light-gray: #d3d6db;
	--gray: #aeb1b5;
	--dark-gray: #69707a;
	--darkest-gray: #292B33;
	--black: #212121;

	--brand: var(--yellow);
	--brand-secondary: var(--blue);

	/* Font-Family */
	--body-font: "museo-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--header-font: "museo-slab", Cambria, "Hoefler Text", Utopia, Times, "Times New Roman", serif;
	--monospace-font: "Source Code Pro", "Monaco", "Inconsolata", monospace;

	/* Sizing: Baseline is 24; */
	--size-xs: 6px;
	--size-sm: 12px;
	--size-md: 24px;
	--size-lg: 48px;
	--size-xl: 72px;

	/* Dimensions */
	--wrapper-width: 960px;
	--column-gap: 24px;
	--header-height: 72px;

	/* Borders */
	--border-width: 2px;
	--border-radius: 3px;

	/* Animation */
	--animation-speed: 250ms;

	/* Media Query variables */
	--tablet: 769px;
	--desktop: 980px;
	--widescreen: 1180px;
}
